################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/M02-Bootstrap-Tut/v17/.wsuo
/.vs/M02-Bootstrap-Tut/v17/DocumentLayout.json
/.vs/VSWorkspaceState.json
/bootstrap-5-tutorial-lesson-8/.vs/bootstrap-5-tutorial-lesson-8/FileContentIndex/add11d4f-9897-4a13-9e1d-4ce44dc8b0f9.vsidx
/bootstrap-5-tutorial-lesson-8/.vs/ProjectSettings.json
/bootstrap-5-tutorial-lesson-8/.vs/slnx.sqlite
