################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/M02-Bootstrap-Tut/v17/.wsuo
/.vs/M02-Bootstrap-Tut/v17/DocumentLayout.json
/.vs/VSWorkspaceState.json
